<div>
  <h2 id="page-heading" data-cy="PostsHeading">
    <span jhiTranslate="myApp.posts.home.title">Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.posts.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-posts"
        [routerLink]="['/posts/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.posts.home.createLabel"> Create a new Posts </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span jhiTranslate="myApp.posts.home.notFound">No posts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="myApp.posts.id">Id</span></th>
          <th scope="col"><span jhiTranslate="myApp.posts.title">Title</span></th>
          <th scope="col"><span jhiTranslate="myApp.posts.users">Users</span></th>
          <th scope="col"><span jhiTranslate="myApp.posts.categories">Categories</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posts of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/posts', posts.id, 'view']">{{ posts.id }}</a>
          </td>
          <td>{{ posts.title }}</td>
          <td>
            <div *ngIf="posts.users">
              <a [routerLink]="['/users', posts.users?.id, 'view']">{{ posts.users?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="posts.categories">
              <a [routerLink]="['/categories', posts.categories?.id, 'view']">{{ posts.categories?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/posts', posts.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/posts', posts.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(posts)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
